:root {
    --bg: #FAF3E1;
    --font: #222222;
    --warna-utama: #FA8112;
    --warna-sampingan: #F5E7C6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--font);
    background-color: #f9f9f9;
    min-height: 100vh;
}

nav {

    padding: 8px 32px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #333;
    border-radius: 32px;
    z-index: 1000;
    color: var(--font);

    backdrop-filter: blur(2px);
}

.container {
    background-color: var(--bg);
    border: 1px solid black;
    border-radius: 8px;

    width: 90%;
    max-width: 400px;

    padding: 20px;
    margin: 100px auto;
    min-height: 64vh;
    height: auto;

}



#Output {
    border-radius: 6px;

    word-break: break-all;
    overflow-wrap: break-word;

    min-height: 100px;
    padding: 10px 5px 5px 5px;
    text-align: right;

    font-size: 35px;

    margin-bottom: 10px;
    color: black;
}

.containerAritmatika h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.inputNilai {
    margin-bottom: 30px;
}

.listTombol {
    border-top: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.listTombol button {
    cursor: pointer;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 8px;
    font-size: 25px;
    padding: 15px 20px;

    background-color: var(--warna-utama);
    color: var(--font);
}

.listTombol button:active {
    background-color: #d3d3d3;
}

.listTombol .spesial {
    grid-column: span 3;
}

.row-span-2 {
    grid-row: span 2;
}

.hilang {
    display: none;
}

.backgroundHitam {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* Angka 0.6 = tingkat kegelapan (60%) */
}

.error {
    z-index: 21;
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: #333;
    color: white;
    width: 30%;
    max-width: 350px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.error h3 {
    font-size: 26px;
    margin-top: 0px;


}

@media (1px < width < 767px) {
    nav {
        margin-top: 12px;
        padding: 4px 16px;
        width: 85%;
        text-align: center;
        
    }

    .container {
        height: 56vh;
        width: 80%;
    }

    .listTombol {
        padding-inline: 2px;
    }

    .error {
        width: 50%;
        right: 20%;
    }

    .error button {
        padding: 4px 16px;
    }
}